In [1]:
import pandas as pd
import numpy as np

dca_data = pd.read_csv("data/elektronisk-rapportering-ers-2018-fangstmelding-dca.csv", sep=";", decimal=",")

/tmp/ipykernel_102093/2114683084.py:4: DtypeWarning: Columns (51,83,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dca_data = pd.read_csv("data/elektronisk-rapportering-ers-2018-fangstmelding-dca.csv", sep=";", decimal=",")

In [2]:
# for column in dca_data.columns:
#     print(column)

id_columns = ["Melding ID", "Starttidspunkt", "Stopptidspunkt"]
keep_columns = ["Melding ID", "Radiokallesignal (ERS)", "Starttidspunkt", "Stopptidspunkt", "Varighet",
                "Startposisjon bredde", "Startposisjon lengde", "Havdybde start", "Stopposisjon bredde",
                "Stopposisjon lengde", "Havdybde stopp", "Trekkavstand", "Redskap FAO (kode)", "Hovedart FAO (kode)",
                "Art FAO (kode)", "Rundvekt", "Bruttotonnasje 1969", "Bruttotonnasje annen",
                "Bredde", "Fartøylengde"]

In [3]:
reduced_data = dca_data[keep_columns]

In [4]:
reduced_data = reduced_data.where(reduced_data["Redskap FAO (kode)"] == "OTB")
reduced_data = reduced_data.dropna(subset=["Art FAO (kode)"])

In [5]:
reduced_data

,Melding ID,Radiokallesignal (ERS),Starttidspunkt,Stopptidspunkt,Varighet,Startposisjon bredde,Startposisjon lengde,Havdybde start,Stopposisjon bredde,Stopposisjon lengde,Havdybde stopp,Trekkavstand,Redskap FAO (kode),Hovedart FAO (kode),Art FAO (kode),Rundvekt,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
1,1497178.0,LLKC,30.12.2017 23:21:00,31.12.2017 04:16:00,295.0,74.885,16.048,-335.0,74.914,15.969,-334.0,3970.0,OTB,HAD,HAD,9594.0,1476.0,NaN,12.6,56.8
2,1497178.0,LLKC,30.12.2017 23:21:00,31.12.2017 04:16:00,295.0,74.885,16.048,-335.0,74.914,15.969,-334.0,3970.0,OTB,HAD,COD,8510.0,1476.0,NaN,12.6,56.8
3,1497178.0,LLKC,30.12.2017 23:21:00,31.12.2017 04:16:00,295.0,74.885,16.048,-335.0,74.914,15.969,-334.0,3970.0,OTB,HAD,GHL,196.0,1476.0,NaN,12.6,56.8
4,1497178.0,LLKC,30.12.2017 23:21:00,31.12.2017 04:16:00,295.0,74.885,16.048,-335.0,74.914,15.969,-334.0,3970.0,OTB,HAD,POK,134.0,1476.0,NaN,12.6,56.8
5,1497178.0,LLKC,31.12.2017 05:48:00,31.12.2017 10:15:00,267.0,74.910,15.868,-403.0,74.901,16.248,-277.0,11096.0,OTB,HAD,HAD,9118.0,1476.0,NaN,12.6,56.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345785,1800291.0,LLAJ,31.12.2018 19:41:00,31.12.2018 23:33:00,232.0,76.906,12.709,-349.0,77.091,11.965,-273.0,27855.0,OTB,HAD,CAA,145.0,1483.0,NaN,12.6,57.3
345786,1800291.0,LLAJ,31.12.2018 19:41:00,31.12.2018 23:33:00,232.0,76.906,12.709,-349.0,77.091,11.965,-273.0,27855.0,OTB,HAD,REG,136.0,1483.0,NaN,12.6,57.3
345787,1800291.0,LLAJ,31.12.2018 19:41:00,31.12.2018 23:33:00,232.0,76.906,12.709,-349.0,77.091,11.965,-273.0,27855.0,OTB,HAD,CAS,132.0,1483.0,NaN,12.6,57.3
345788,1800291.0,LLAJ,31.12.2018 19:41:00,31.12.2018 23:33:00,232.0,76.906,12.709,-349.0,77.091,11.965,-273.0,27855.0,OTB,HAD,REB,102.0,1483.0,NaN,12.6,57.3
345789,1800291.0,LLAJ,31.12.2018 19:41:00,31.12.2018 23:33:00,232.0,76.906,12.709,-349.0,77.091,11.965,-273.0,27855.0,OTB,HAD,GHL,63.0,1483.0,NaN,12.6,57.3

In [6]:
# catch_sums = reduced_data.groupby(['Melding ID','Starttidspunkt','Stopptidspunkt'])['Rundvekt'].sum()
catch_sums = reduced_data.groupby(['Melding ID','Starttidspunkt','Stopptidspunkt'])['Rundvekt'].sum()
catch_sums

Melding ID  Starttidspunkt       Stopptidspunkt
1497178.0   30.12.2017 23:21:00  31.12.2017 04:16:00    18434.0
            31.12.2017 05:48:00  31.12.2017 10:15:00    16062.0
            31.12.2017 11:34:00  31.12.2017 16:49:00    17878.0
            31.12.2017 17:44:00  31.12.2017 21:47:00    13780.0
1497311.0   01.01.2018 17:09:00  01.01.2018 18:36:00     4131.0
                                                         ...
1800286.0   31.12.2018 15:07:00  31.12.2018 18:59:00     9023.0
1800291.0   30.12.2018 23:20:00  31.12.2018 04:21:00    11105.0
            31.12.2018 05:40:00  31.12.2018 11:25:00    10017.0
            31.12.2018 12:53:00  31.12.2018 18:21:00    10427.0
            31.12.2018 19:41:00  31.12.2018 23:33:00    14193.0
Name: Rundvekt, Length: 35494, dtype: float64

In [7]:
reduced_data.duplicated(["Melding ID", "Starttidspunkt", "Stopptidspunkt", "Art FAO (kode)"]).sum()

np.int64(0)

In [8]:
# TODO: Use all 14 provided
top_species = ['POK','COD','PRA','HAD','REB','GHL']
reduced_data = reduced_data.loc[reduced_data["Art FAO (kode)"].isin(top_species)]
reduced_data_pivot = reduced_data.pivot(index=["Melding ID", "Starttidspunkt", "Stopptidspunkt"], columns="Art FAO (kode)", values="Rundvekt").reset_index()
reduced_data_weight = reduced_data_pivot.merge(catch_sums, on=["Melding ID", "Starttidspunkt", "Stopptidspunkt"])
reduced_data_weight.head()

reduced_data_weight["ANDRE"] = reduced_data_weight.apply(lambda row: row["Rundvekt"] - row[top_species].sum(), axis=1)
reduced_data_weight
# reduced_with_enc = pd.get_dummies(reduced_data,columns=['Art FAO (kode)'],prefix=["art"], dtype=float)

,Melding ID,Starttidspunkt,Stopptidspunkt,COD,GHL,HAD,POK,PRA,REB,Rundvekt,ANDRE
0,1497178.0,30.12.2017 23:21:00,31.12.2017 04:16:00,8510.0,196.0,9594.0,134.0,NaN,NaN,18434.0,0.0
1,1497178.0,31.12.2017 05:48:00,31.12.2017 10:15:00,6651.0,130.0,9118.0,67.0,NaN,NaN,16062.0,96.0
2,1497178.0,31.12.2017 11:34:00,31.12.2017 16:49:00,5097.0,197.0,12432.0,68.0,NaN,47.0,17878.0,37.0
3,1497178.0,31.12.2017 17:44:00,31.12.2017 21:47:00,7022.0,NaN,6758.0,NaN,NaN,NaN,13780.0,0.0
4,1497311.0,01.01.2018 17:09:00,01.01.2018 18:36:00,3850.0,NaN,202.0,NaN,NaN,NaN,4131.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...
34664,1800286.0,31.12.2018 15:07:00,31.12.2018 18:59:00,2998.0,NaN,258.0,5706.0,NaN,NaN,9023.0,61.0
34665,1800291.0,30.12.2018 23:20:00,31.12.2018 04:21:00,3126.0,315.0,7277.0,32.0,NaN,NaN,11105.0,355.0
34666,1800291.0,31.12.2018 05:40:00,31.12.2018 11:25:00,3452.0,31.0,6182.0,NaN,NaN,17.0,10017.0,335.0
34667,1800291.0,31.12.2018 12:53:00,31.12.2018 18:21:00,5902.0,94.0,4315.0,NaN,NaN,NaN,10427.0,116.0
34668,1800291.0,31.12.2018 19:41:00,31.12.2018 23:33:00,4245.0,63.0,9370.0,NaN,NaN,102.0,14193.0,413.0

In [9]:
reduced_data = reduced_data.drop(columns=["Art FAO (kode)", "Rundvekt"]).drop_duplicates()

In [10]:
complete_data = reduced_data.merge(reduced_data_weight, on=["Melding ID", "Starttidspunkt", "Stopptidspunkt"])
complete_data[["Bruttotonnasje 1969", "Bruttotonnasje annen"]] = complete_data[["Bruttotonnasje 1969", "Bruttotonnasje annen"]].replace(np.nan, 0)
complete_data["Bruttotonnasje"] = complete_data.apply(lambda row: row["Bruttotonnasje 1969"] + row["Bruttotonnasje annen"], axis=1)
complete_data.drop(columns=["Bruttotonnasje 1969", "Bruttotonnasje annen"], inplace=True)
# complete_data.drop(columns=["Bruttotonnasje annen"], inplace=True, axis=)

In [11]:
complete_data.head()

,Melding ID,Radiokallesignal (ERS),Starttidspunkt,Stopptidspunkt,Varighet,Startposisjon bredde,Startposisjon lengde,Havdybde start,Stopposisjon bredde,Stopposisjon lengde,...,Fartøylengde,COD,GHL,HAD,POK,PRA,REB,Rundvekt,ANDRE,Bruttotonnasje
0,1497178.0,LLKC,30.12.2017 23:21:00,31.12.2017 04:16:00,295.0,74.885,16.048,-335.0,74.914,15.969,...,56.8,8510.0,196.0,9594.0,134.0,NaN,NaN,18434.0,0.0,1476.0
1,1497178.0,LLKC,31.12.2017 05:48:00,31.12.2017 10:15:00,267.0,74.910,15.868,-403.0,74.901,16.248,...,56.8,6651.0,130.0,9118.0,67.0,NaN,NaN,16062.0,96.0,1476.0
2,1497178.0,LLKC,31.12.2017 11:34:00,31.12.2017 16:49:00,315.0,74.883,16.056,-346.0,74.924,15.742,...,56.8,5097.0,197.0,12432.0,68.0,NaN,47.0,17878.0,37.0,1476.0
3,1497178.0,LLKC,31.12.2017 17:44:00,31.12.2017 21:47:00,243.0,74.931,15.785,-443.0,74.926,15.894,...,56.8,7022.0,NaN,6758.0,NaN,NaN,NaN,13780.0,0.0,1476.0
4,1497311.0,LMJP,01.01.2018 17:09:00,01.01.2018 18:36:00,87.0,73.127,28.324,-302.0,73.187,28.390,...,56.2,3850.0,NaN,202.0,NaN,NaN,NaN,4131.0,79.0,1874.0

In [12]:
complete_data.to_csv("temp.csv", index=False)