In [1]:
import pandas as pd
import numpy as np

dca_data = pd.read_csv("data/elektronisk-rapportering-ers-2018-fangstmelding-dca.csv", sep=";", decimal=",")

/tmp/ipykernel_31193/2114683084.py:4: DtypeWarning: Columns (51,83,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dca_data = pd.read_csv("data/elektronisk-rapportering-ers-2018-fangstmelding-dca.csv", sep=";", decimal=",")

In [2]:
id_columns = ["Melding ID", "Starttidspunkt", "Stopptidspunkt"]
# keep_columns = ["Melding ID", "Meldingstidspunkt", "Meldingsnummer", "Meldingsversjon", "Redskapsspesifikasjon", "Starttidspunkt", "Stopptidspunkt", "Radiokallesignal (ERS)", "Varighet",
keep_columns = ["Melding ID", "Meldingstidspunkt", "Starttidspunkt", "Stopptidspunkt", "Radiokallesignal (ERS)", "Varighet",
                "Startposisjon bredde", "Startposisjon lengde", "Havdybde start", "Stopposisjon bredde",
                "Stopposisjon lengde", "Havdybde stopp", "Trekkavstand", "Redskap FAO (kode)", "Hovedart FAO (kode)",
                "Art FAO", "Rundvekt", "Bruttotonnasje 1969", "Bruttotonnasje annen",
                "Bredde", "Fartøylengde", "Hovedområde start (kode)", "Hovedområde stopp (kode)"]

In [3]:
reduced_data = dca_data[keep_columns]

In [4]:
reduced_data = reduced_data.where(reduced_data["Redskap FAO (kode)"] == "OTB")
reduced_data = reduced_data.dropna(subset=["Art FAO"])

In [5]:
reduced_data

,Melding ID,Meldingstidspunkt,Starttidspunkt,Stopptidspunkt,Radiokallesignal (ERS),Varighet,Startposisjon bredde,Startposisjon lengde,Havdybde start,Stopposisjon bredde,...,Redskap FAO (kode),Hovedart FAO (kode),Art FAO,Rundvekt,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde,Hovedområde start (kode),Hovedområde stopp (kode)
1,1497178.0,01.01.2018,30.12.2017 23:21:00,31.12.2017 04:16:00,LLKC,295.0,74.885,16.048,-335.0,74.914,...,OTB,HAD,Hyse,9594.0,1476.0,NaN,12.6,56.8,20.0,20.0
2,1497178.0,01.01.2018,30.12.2017 23:21:00,31.12.2017 04:16:00,LLKC,295.0,74.885,16.048,-335.0,74.914,...,OTB,HAD,Torsk,8510.0,1476.0,NaN,12.6,56.8,20.0,20.0
3,1497178.0,01.01.2018,30.12.2017 23:21:00,31.12.2017 04:16:00,LLKC,295.0,74.885,16.048,-335.0,74.914,...,OTB,HAD,Blåkveite,196.0,1476.0,NaN,12.6,56.8,20.0,20.0
4,1497178.0,01.01.2018,30.12.2017 23:21:00,31.12.2017 04:16:00,LLKC,295.0,74.885,16.048,-335.0,74.914,...,OTB,HAD,Sei,134.0,1476.0,NaN,12.6,56.8,20.0,20.0
5,1497178.0,01.01.2018,31.12.2017 05:48:00,31.12.2017 10:15:00,LLKC,267.0,74.910,15.868,-403.0,74.901,...,OTB,HAD,Hyse,9118.0,1476.0,NaN,12.6,56.8,20.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345785,1800291.0,01.01.2019 09:28:00,31.12.2018 19:41:00,31.12.2018 23:33:00,LLAJ,232.0,76.906,12.709,-349.0,77.091,...,OTB,HAD,Gråsteinbit,145.0,1483.0,NaN,12.6,57.3,21.0,21.0
345786,1800291.0,01.01.2019 09:28:00,31.12.2018 19:41:00,31.12.2018 23:33:00,LLAJ,232.0,76.906,12.709,-349.0,77.091,...,OTB,HAD,Uer (vanlig),136.0,1483.0,NaN,12.6,57.3,21.0,21.0
345787,1800291.0,01.01.2019 09:28:00,31.12.2018 19:41:00,31.12.2018 23:33:00,LLAJ,232.0,76.906,12.709,-349.0,77.091,...,OTB,HAD,Flekksteinbit,132.0,1483.0,NaN,12.6,57.3,21.0,21.0
345788,1800291.0,01.01.2019 09:28:00,31.12.2018 19:41:00,31.12.2018 23:33:00,LLAJ,232.0,76.906,12.709,-349.0,77.091,...,OTB,HAD,Snabeluer,102.0,1483.0,NaN,12.6,57.3,21.0,21.0
345789,1800291.0,01.01.2019 09:28:00,31.12.2018 19:41:00,31.12.2018 23:33:00,LLAJ,232.0,76.906,12.709,-349.0,77.091,...,OTB,HAD,Blåkveite,63.0,1483.0,NaN,12.6,57.3,21.0,21.0

In [6]:
catch_sums = reduced_data.groupby(['Melding ID','Starttidspunkt','Stopptidspunkt'])['Rundvekt'].sum()
catch_sums

Melding ID  Starttidspunkt       Stopptidspunkt
1497178.0   30.12.2017 23:21:00  31.12.2017 04:16:00    18434.0
            31.12.2017 05:48:00  31.12.2017 10:15:00    16062.0
            31.12.2017 11:34:00  31.12.2017 16:49:00    17878.0
            31.12.2017 17:44:00  31.12.2017 21:47:00    13780.0
1497311.0   01.01.2018 17:09:00  01.01.2018 18:36:00     4131.0
                                                         ...
1800286.0   31.12.2018 15:07:00  31.12.2018 18:59:00     9023.0
1800291.0   30.12.2018 23:20:00  31.12.2018 04:21:00    11105.0
            31.12.2018 05:40:00  31.12.2018 11:25:00    10017.0
            31.12.2018 12:53:00  31.12.2018 18:21:00    10427.0
            31.12.2018 19:41:00  31.12.2018 23:33:00    14193.0
Name: Rundvekt, Length: 35494, dtype: float64

In [7]:
reduced_data.duplicated(["Melding ID", "Starttidspunkt", "Stopptidspunkt", "Art FAO"]).sum()

np.int64(0)

In [8]:
top_species = ['Torsk', 'Sei', 'Hyse', 'Uer (vanlig)', 'Dypvannsreke', 'Lange', 'Snabeluer', 'Blåkveite', 'Flekksteinbit', 'Lysing', 'Gråsteinbit', 'Breiflabb', 'Kveite', 'Lyr']
reduced_data = reduced_data.loc[reduced_data["Art FAO"].isin(top_species)]
reduced_data_pivot = reduced_data.pivot(index=["Melding ID", "Starttidspunkt", "Stopptidspunkt"], columns="Art FAO", values="Rundvekt").reset_index()
reduced_data_weight = reduced_data_pivot.merge(catch_sums, on=["Melding ID", "Starttidspunkt", "Stopptidspunkt"])
reduced_data_weight.head()

reduced_data_weight["ANDRE"] = reduced_data_weight.apply(lambda row: row["Rundvekt"] - row[top_species].sum(), axis=1)
reduced_data_weight[top_species] = reduced_data_weight[top_species].replace(np.nan, 0)
reduced_data_weight

,Melding ID,Starttidspunkt,Stopptidspunkt,Blåkveite,Breiflabb,Dypvannsreke,Flekksteinbit,Gråsteinbit,Hyse,Kveite,Lange,Lyr,Lysing,Sei,Snabeluer,Torsk,Uer (vanlig),Rundvekt,ANDRE
0,1497178.0,30.12.2017 23:21:00,31.12.2017 04:16:00,196.0,0.0,0.0,0.0,0.0,9594.0,0.0,0.0,0.0,0.0,134.0,0.0,8510.0,0.0,18434.0,0.0
1,1497178.0,31.12.2017 05:48:00,31.12.2017 10:15:00,130.0,0.0,0.0,82.0,0.0,9118.0,14.0,0.0,0.0,0.0,67.0,0.0,6651.0,0.0,16062.0,0.0
2,1497178.0,31.12.2017 11:34:00,31.12.2017 16:49:00,197.0,0.0,0.0,0.0,0.0,12432.0,0.0,0.0,0.0,0.0,68.0,47.0,5097.0,37.0,17878.0,0.0
3,1497178.0,31.12.2017 17:44:00,31.12.2017 21:47:00,0.0,0.0,0.0,0.0,0.0,6758.0,0.0,0.0,0.0,0.0,0.0,0.0,7022.0,0.0,13780.0,0.0
4,1497311.0,01.01.2018 17:09:00,01.01.2018 18:36:00,0.0,0.0,0.0,79.0,0.0,202.0,0.0,0.0,0.0,0.0,0.0,0.0,3850.0,0.0,4131.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34788,1800286.0,31.12.2018 15:07:00,31.12.2018 18:59:00,0.0,0.0,0.0,0.0,0.0,258.0,61.0,0.0,0.0,0.0,5706.0,0.0,2998.0,0.0,9023.0,0.0
34789,1800291.0,30.12.2018 23:20:00,31.12.2018 04:21:00,315.0,0.0,0.0,132.0,145.0,7277.0,27.0,0.0,0.0,0.0,32.0,0.0,3126.0,51.0,11105.0,0.0
34790,1800291.0,31.12.2018 05:40:00,31.12.2018 11:25:00,31.0,0.0,0.0,66.0,218.0,6182.0,0.0,0.0,0.0,0.0,0.0,17.0,3452.0,51.0,10017.0,0.0
34791,1800291.0,31.12.2018 12:53:00,31.12.2018 18:21:00,94.0,0.0,0.0,0.0,0.0,4315.0,14.0,0.0,0.0,0.0,0.0,0.0,5902.0,102.0,10427.0,0.0
34792,1800291.0,31.12.2018 19:41:00,31.12.2018 23:33:00,63.0,0.0,0.0,132.0,145.0,9370.0,0.0,0.0,0.0,0.0,0.0,102.0,4245.0,136.0,14193.0,0.0

In [9]:
reduced_data = reduced_data.drop(columns=["Art FAO", "Rundvekt"]).drop_duplicates()

In [10]:
complete_data = reduced_data.merge(reduced_data_weight, on=["Melding ID", "Starttidspunkt", "Stopptidspunkt"])
complete_data[["Bruttotonnasje 1969", "Bruttotonnasje annen"]] = complete_data[["Bruttotonnasje 1969", "Bruttotonnasje annen"]].replace(np.nan, 0)
complete_data["Bruttotonnasje"] = complete_data.apply(lambda row: row["Bruttotonnasje 1969"] + row["Bruttotonnasje annen"], axis=1)
complete_data.drop(columns=["Bruttotonnasje 1969", "Bruttotonnasje annen"], inplace=True)

In [11]:
complete_data = complete_data.sort_values(["Meldingstidspunkt", "Starttidspunkt"], ignore_index=True)

In [12]:
complete_data.to_csv("temp.csv", index=False)

# Check for time overlap

In [13]:
message_ids = complete_data["Melding ID"].unique()
call_signs = complete_data["Radiokallesignal (ERS)"].unique()
print(call_signs)
complete_data["Starttidspunkt"] = pd.to_datetime(complete_data["Starttidspunkt"], format="mixed")
complete_data["Stopptidspunkt"] = pd.to_datetime(complete_data["Stopptidspunkt"], format="mixed")

all_messages = []
for c_sign in call_signs:
    messages = complete_data.where(complete_data["Radiokallesignal (ERS)"]==c_sign).dropna(how="all")
    i = 0
    len_df = len(messages)
    while i < len_df-1:
        # if (messages.iloc[i+1]["Melding ID"] == messages.iloc[i]["Melding ID"] and
        # Message ID can be same or different
        if (messages.iloc[i+1]["Starttidspunkt"] < messages.iloc[i]["Stopptidspunkt"] and
            messages.iloc[i+1]["Starttidspunkt"] >= messages.iloc[i]["Starttidspunkt"]):
            # print(f"Overlap between: {messages.index[i]} and {messages.index[i+1]}")
            messages = messages.drop(messages.index[i+1], inplace=False)
            len_df -= 1
        i += 1
    all_messages.append(messages)

complete_data_no_dupes = pd.concat(all_messages)

['LLKC' 'LMJP' 'LEBB' 'LLIA' 'LHXV' 'LJWI' '3YHX' 'LLAD' 'LDDF' 'LLAJ'
 'LHYA' 'LLOP' 'LDAL' 'LLOS' 'LDNV' '3YYB' 'JWOD' 'LFBW' 'LHMF' 'LCLP'
 'LDBR' 'LAPL' 'LDBT' 'JXJU' 'LLAY' 'LIWM' 'LCMP' 'LEFE' 'LDDG' 'LGHI'
 'LFGQ' 'JWLM' 'LNKS' 'LIPZ' 'LNFD' 'LDAR' 'LMTJ' 'JXDJ' 'JWRB' 'LMBG'
 'LJPH' 'LM3501' 'LMAC' 'LDSF' 'LCCZ' 'LEXG' 'LEGQ' 'LLDH' 'LDCO' 'LK3109'
 'LAVH' 'LIDE' 'LANV' 'LECG' 'LK2444' 'LENG' 'LEPW' 'LCOV' 'LDSX' 'LIBC'
 'LMDO' 'LCPE' 'LEHT' 'LKZV' 'LDAM' 'LCRI' 'LAXI' 'LEPP' 'JXLO' 'LLVN'
 'LLGA' 'LDHM' 'LDAK' 'LFMV' 'JWLQ' 'LLNZ' 'LFGX']

In [14]:
print(len(complete_data), len(complete_data_no_dupes))

34793 34580

In [15]:
complete_data_no_dupes["Trekkavstand"] = complete_data_no_dupes["Trekkavstand"].replace(np.nan, 0)
print(complete_data_no_dupes.isna().any(axis=1).sum())
complete_data_no_dupes = complete_data_no_dupes.dropna()
print(complete_data_no_dupes.isna().any(axis=1).sum())

31
0